[Unit]
Description=Get PiLapse service running at boot

[Service]
Type=simple
ExecStart=/home/pi/PiLapse/PiLapse.py
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=PiLapse

[Install]
WantedBy=multi-user.target
